@using QuestorSistemasAdmin.Models
@model Modelo
@{
    ViewData["Title"] = "Detalhes";
}

<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-body">
            <div class="form-group">
            </div>
            <table class="table table-bordered table-striped responsive">
                <tbody>
                    <tr>
                        <td width="200">Modelo</td>
                        <td>@Html.Raw(Model.ModeloDetalhes)</td>
                    </tr>

                    <tr>
                        <td>Data de Cadastro</td>
                        <td>@Model.DataCadastro.ToShortDateString()</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            <a href="@Url.Action("Editar", "Modelo", new { id = Model.Id })" class="btn btn-warning">Editar</a>
            <a href="@Url.Action("Index", "Modelo")" class="btn btn-info">Voltar</a>
        </div>
    </div>
</div>
