@{
    ViewData["Title"] = "Home";
}
<link href="/css/cup.css" rel="stylesheet"/>
<style>
    .wrapper {
        background-color: #3f4d51!important;
    }
</style>
<div class="box" style="margin: 5px;">
    <div class="cup">
        <div class="coffee">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
                <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z" />
            </svg>
        </div>
    </div>
    <div class="handle"></div>
    <div class="load">Café</div>
</div>
