@using QuestorSistemasSite.Models
@model Marca
@{
    ViewData["Title"] = "Marcas";
}

<div class="box-section float-image-section triggerAnimation animated" data-animate="rollIn">
    <div class="row">
        <div class="col-md-5">
            <div class="image-box">
                <img alt="" src="/upload/image1.jpg">
            </div>
        </div>
        <div class="col-md-7">
            <div class="cont-box">
                <h2>Left Floated Image</h2>
                <p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
                <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
            </div>
        </div>
    </div>
</div>