@using QuestorSistemasSite.Models
@model Marca
@{
    ViewData["Title"] = "Marcas";
}

<div class="box-section float-image-section triggerAnimation animated" data-animate="rollIn">
    <div class="row">
        <div class="col-md-5">
            <div class="image-box">
                <img alt="" src="/upload/image1.jpg">
            </div>
        </div>
        <div class="col-md-7">
            <div class="cont-box">
                <h2>Em Manutenção</h2>
            </div>
        </div>
    </div>
</div>