@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{   
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:black!important"><button class="btn btn-default" style="margin-top: 8px;"><i class="fa fa-user"></i>  Bem Vindo  @User.Identity.Name!</button></a>    
}
