@using QuestorSistemasSite.Models
@model List<Anuncio>
@{
    ViewData["Title"] = "Anuncios Listagem";
}

<div class="portfolio triggerAnimation animated" data-animate="fadeInRightBig">
    <div class="portfolio-box col2">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <a href="@Url.Action("Detalhes", "Anuncio", new { Slug= item.Slug})">
                    <div class="project-post">
                        <img src="/Conteudo/Anuncios/@item.Imagem" alt="@item.Imagem">
                    </div>
                </a>
            }
        }
    </div>
</div>

@*<ul class="pagination-list">
    <li><a class="active" href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
</ul>*@