<footer>
    <div class="up-footer">
        <div class="row">
            <div class="col-md-4">
                <div class="widget footer-widgets tags-widget">
                    <h2>Popular Tags</h2>
                    <ul class="tag-list">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Anuncio</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <p>&#169; 2020 Questor Sistemas,  Todos os direitos Reservados</p>
        <a class="go-top" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>