<div class="sidebar-section white-box">
    <div class="social-box">
        <h2>Social Icons</h2>
        <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/joaoluiz.sa.9" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/juninhodrz/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/joaoluizdeveloper/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>

<div class="sidebar-section white-box">
    <div class="contact-info-box">
        <h2>Contato</h2>
        <ul>
            <li>
                <i class="fa fa-phone"></i> (24) 9983239477
            </li>
            <li>
                <i class="fa fa-envelope"></i> <a href="#">joaoluizdeveloper@gmail.com</a>
            </li>
            <li>
                <i class="fa fa-home"></i> Av.Brasilia 660 Vila julieta Resende/RJ
            </li>
        </ul>
    </div>
</div>